<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>kande wedding</title>

  <!-- favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196">
  <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">

  <!-- metadata -->
  <meta name="description" content="kandewed: kande wedding" />
  <link rel="author" href="humans.txt" />
  <meta name="robots" content="noindex, nofollow" />

  <!-- OpenGraph metadata -->
  <meta property="og:title" content="kandewed: Kamila & Eloy wedding" />
  <meta property="og:description" content="What happens when the two most magical cities in the world meet? You'll see in Sandomierz on Saturday, 12 July 2014." />
  <meta property="og:url" content="http://wed.kande.es" />
  <meta property="og:site_name" content="kandewed" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="http://wed.kande.es/kandewed.jpg" />

</head>
