// meteorite bootstrap3 less package
@import "/packages/bootstrap3-less/bootstrap.import.less";

// flaty theme
@import "flatly/variables.lessimport";
@import "flatly/bootswatch.lessimport";

// font-awesome
@import "font-awesome/font-awesome.lessimport";

// fonts
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic);
// tests for 'kandewed' font
// @import url(http://fonts.googleapis.com/css?family=Roboto:400,900,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,700);
// tests for serif font
@import url(http://fonts.googleapis.com/css?family=Habibi);
@import url(http://fonts.googleapis.com/css?family=Flamenco);


// variables
@import "kandewed/variables.lessimport";

// styles
@import "kandewed/common.lessimport";
@import "kandewed/bg.lessimport";
@import "kandewed/header.lessimport";
@import "kandewed/logout.lessimport";

@import "kandewed/profile.lessimport";

@import "kandewed/ui-admin/container.lessimport";
@import "kandewed/ui-admin/navbar.lessimport";
@import "kandewed/ui-admin/guests.lessimport";

@import "kandewed/ui-login/navbar.lessimport";
@import "kandewed/ui-login/home.lessimport";
