<template name="krakow">
  <section class="block" id="krakow">
    <header><div class="container"><h2>{{i18n "Krakow"}}</h2></div></header>
    <div class="white">
      <div class="container">
        {{{cnt "home_krakow"}}}
      </div>
    </div>
  </section>
</template>
