<template name="sandomierz">
  <section class="block" id="sandomierz">
    <header><div class="container"><h2>Sandomierz</h2></div></header>
    <div class="white">
      <div class="container">
        {{{cnt "home_sandomierz"}}}
      </div>
    </div>
  </section>
</template>
