<template name="not_auth">
  <div class="container">
    <h1>401 <small>kande</small></h1>
    <p class="alert alert-danger">Not authorized</p>
    <a href="/">go to home page</a>
  </div>
</template>
