<template name="not_found">
  <div class="container">
    <h1>404 <small>kande</small></h1>
    <p class="alert alert-danger">Page not found</p>
    <a href="{{pathFor 'home'}}">go to home page</a>
  </div>
</template>
