<template name="login">
  <section class="block white">
    <div class="container">
      <form role="form">
        <div class="row">
          <div class="form-group col-md-3">
            <a id="fb-login" class="btn btn-primary btn-block btn-sm btn-fb">{{i18n "Login with facebook"}}</a>
          </div>
          <div class="form-group col-md-3">
            <input type="email" class="form-control input-sm" id="email" placeholder="{{i18n "Enter email"}}">
            <label class="hidden-sm hidden-xs" for="email">{{i18n "email"}}</label>
          </div>
          <div class="form-group col-md-3 clearfix">
            <input type="password" class="form-control input-sm" id="password" placeholder="{{i18n "Enter Password"}}">
            <a id="forgot-psw">{{i18n "Forgot my password"}}</a>
            <label class="hidden-sm hidden-xs" for="password">{{i18n "password"}}</label>
          </div>
          <div class="form-group col-md-3">
            <button class="btn btn-primary btn-block btn-sm btn-kew">{{i18n "Login"}}</button>
          </div>
        </div>
      </form>
      <p>{{{cnt "login_explain"}}}</p>
      <a class="btn btn-primary btn-sm pull-right" href="{{pathFor 'signin'}}">{{i18n "Create account"}}</a>
    </div>
  </section>
</template>

<template name="login_basic">
  <form role="form">
    <div class="form-group">
      <label class="control-label" for="email">{{i18n "email"}}</label>
      <input type="email" class="form-control input-sm" id="email" placeholder="{{i18n "Enter email"}}">
    </div>
    <div class="form-group">
      <label for="password">{{i18n "password"}}</label>
      <input type="password" class="form-control input-sm" id="password" placeholder="{{i18n "Enter Password"}}">
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"> {{i18n "Remember me"}}
      </label>
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block btn-sm">{{i18n "Login"}}</button>
    </div>
    <div class="form-group">
      <a href="{{pathFor 'signin'}}">{{i18n "Create account"}}</a><br />
      <a id="forgot-psw">{{i18n "Forgot my password"}}</a>
    </div>
    <a id="fb-login" class="btn btn-primary btn-block btn-sm">{{i18n "Login with facebook"}}</a>
  </form>
</template>
