<template name="signin">
  <section class="block white">
    <div class="container">
      <p>{{{cnt "signin_explain"}}}</p>
      <p><a href="{{pathFor 'login'}}">{{i18n "I have an account, I want to login."}}</a></p>
      <form role="form">
        <div class="row">
          <div class="form-group col-md-3">
            <label class="control-label hidden-xs" for="first_name">{{i18n "Name"}}</label>
            <input type="text" class="form-control input-sm" id="first_name" placeholder="{{i18n "Enter name"}}">
          </div>
          <div class="form-group col-md-3">
            <label class="control-label hidden-xs" for="last_name">{{i18n "Surname"}}</label>
            <input type="text" class="form-control input-sm" id="last_name" placeholder="{{i18n "Enter surname"}}">
          </div>
          <div class="form-group col-md-3">
            <label class="control-label hidden-xs" for="email">{{i18n "Email"}}</label>
            <input type="email" class="form-control input-sm" id="email" placeholder="{{i18n "Enter email"}}">
          </div>
          <div class="form-group col-md-3">
            <label class="control-label hidden-xs" for="password">{{i18n "Password"}}</label>
            <input type="password" class="form-control input-sm" id="password" placeholder="{{i18n "Enter Password"}}">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-3 col-md-offset-9">
            <button class="btn btn-primary btn-block btn-sm">{{i18n "Sign in"}}</button>
          </div>
        </div>
      </form>
    </div>
  </section>
</template>

<template name="signinBasic">
  <form role="form">
    <div class="form-group">
      <a href="{{pathFor 'login'}}">{{i18n "I have an account, I want to login."}}</a>
    </div>
    <div class="form-group">
      <label class="control-label" for="first_name">{{i18n "Name"}}</label>
      <input type="text" class="form-control input-sm" id="first_name" placeholder="{{i18n "Enter name"}}">
    </div>
    <div class="form-group">
      <label class="control-label" for="last_name">{{i18n "Surname"}}</label>
      <input type="text" class="form-control input-sm" id="last_name" placeholder="{{i18n "Enter surname"}}">
    </div>
    <div class="form-group">
      <label class="control-label" for="email">{{i18n "Email"}}</label>
      <input type="email" class="form-control input-sm" id="email" placeholder="{{i18n "Enter email"}}">
    </div>
    <div class="form-group">
      <label class="control-label" for="password">{{i18n "Password"}}</label>
      <input type="password" class="form-control input-sm" id="password" placeholder="{{i18n "Enter Password"}}">
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block btn-sm">{{i18n "Sign in"}}</button>
    </div>
  </form>
</template>
