<template name="profile">
  <div class="page-header">
    {{#if currentUser}}
      {{>user_header}}
    {{else}}
      <p>You must log in</p>
    {{/if}}
  </div>
  {{#if currentUser}}
    {{>user_general}}
  {{/if}}
</template>

<template name="user_header">
    <img class="profile-image" src="{{userPicture}}">
    <h2>{{username}}</h2>
    <span class="label label-default">profile</span>
</template>

<template name="user_general">
<div class="well">
  <form role="form">
    <div class="row">
      <div class="form-group col-md-4">
        <label for="first_name">Name</label>
        <input type="text" class="form-control" name="first_name" placeholder="Name" value="{{first_name}}" />
      </div>
      <div class="form-group col-md-8">
        <label for="last_name">Surname</label>
        <input type="text" class="form-control" name="last_name" placeholder="Surname" value="{{last_name}}" />
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-4">
        <label for="locale">Language</label>
        <select name="locale">
          <option value="en_US">English</option>
          <option value="pl_PL">Polish</option>
          <option value="es_ES">Spanish</option>
        </select>
      </div>
      <div class="from-group col-md-8">
        <label for="gender">Gender</label>
        <input type="radio" name="gender" value="female" /> <span>Female</span>
        <input type="radio" name="gender" value="male" /> <span>Male</span>
      </div>
    </div>
    <div class="btn-group">
      <button class="btn btn-primary" id="save">Submit</button>
    </div>
  </form>
</div>
</template>
