<template name="admin/users_table">
  <div class="container-fluid">
    {{>users_table}}
  </div>
</template>

<template name="users_table">
  <div class="panel panel-primary">
    <div class="panel-heading">Users</div>
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>username</th>
            <th>name</th>
            <th>surname</th>
            <th>email</th>
            <th class="text-right">created</th>
          </tr>
        </thead>
        <tbody>
          {{#each users}}
            {{>user_row}}
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</template>
