<template name="user_row">
  <tr>
    <td>
      <button type="button" class="btn btn-primary btn-xs btn-edit" title="edit">
        <span class="glyphicon glyphicon-pencil"></span> edit
      </button>
      <button type="button" class="btn btn-primary btn-xs btn-delete" title="delete">
        <span class="glyphicon glyphicon-trash"></span> delete
      </button>
    </td>
    <td>{{profile.name}}</td>
    <td>{{profile.first_name}}</td>
    <td>{{profile.last_name}}</td>
    <td>{{profile.email}}</td>
    <td class="text-right">{{createdAtFormatted}}</td>
  </tr>
</template>
