<template name="admin/users">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-5 col-md-4 list">
        {{> users_list}}
      </div>
      <div class="col-xs-7 col-md-8 info">
        {{> user_wrapper}}
      </div>
    </div>
  </div>
</template>

<template name="users_list">
  <div class="row">
    <div class="col-xs-10">
      <div class="input-group input-group-sm search">
        <input type="text" class="form-control" />
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </div>
    <div class="col-xs-2 text-right">
      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-sort-amount-desc"></i>
        </button>
        <ul class="dropdown-menu text-left pull-right" role="menu">
          <li><a href="#">Name</a></li>
          <li><a href="#">Date</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p><small>&nbsp; <b>Result:</b> {{nUsers}} Users</small></p>
    </div>
  </div>
  <ul class="users">
    {{#each users}}
      {{> users_list_row}}
    {{/each}}
  </ul>
</template>

<template name="users_list_row">
  <li class="user {{isActiveUser}}">
    <img src="{{profilePicture this}}">
    <div class="info">
      <a class="name">{{profile.name}}</a>
      <span class="icons pull-right">
        {{#if isGuest}}<i class="fa fa-flag"></i>{{else}}<i class="fa fa-flag-o"></i> {{/if}}
        &nbsp;
        {{#if facebook this}}<i class="fa fa-facebook-square"></i>{{else}}<i class="fa fa-envelope-o"></i>{{/if}}
      </span>
      <div>
        <small>{{profile.email}}</small>
        <small class="pull-right">{{formatDate createdAt}}</small>
      </div>
    </div>
  </li>
</template>

<template name="user_wrapper">
  {{#if user}}
    {{> user_info}}
  {{else}}
    {{> user_blank}}
  {{/if}}
</template>

<template name="user_blank">
  <div class="jumbotron">
    <h1>Your users!</h1>
    <p>Here you can manage the users for your wedding</p>
    <p>Please, select a user from the list in the left side.</p>
  </div>
</template>

<template name="user_info">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="icons pull-right">
        {{#if isGuest}}<i class="fa fa-flag"></i>{{else}}<i class="fa fa-flag-o"></i>{{/if}}
        &nbsp;
        {{#if facebook user}}<i class="fa fa-facebook-square"></i>{{else}}<i class="fa fa-envelope-o"></i>{{/if}}
      </span>
      <h3 class="panel-title">{{user.profile.name}} <small>[{{user._id}}]</small></h3>
    </div>
    <div class="panel-body">
      {{#if isGuest}}
        <p>This user have been added to the guests list.</p>
      {{else}}
        <p>This user is not in the guests list<br />
          <button class="btn btn-default btn-xs" id="add-guest"><i class="fa fa-list"></i> add to the guest list</button>
        </p>
      {{/if}}
      <p><b>Name:</b> {{user.profile.first_name}}</p>
      <p><b>Lastname:</b> {{user.profile.last_name}}</p>
      <p><b>Email:</b> {{user.profile.email}}</p>
      <p><b>Gender:</b> {{user.profile.gender}}</p>
      <p><b>Locale:</b> {{user.profile.locale}}</p>
      <p><b>created at:</b> {{formatDate user.createdAt}}</p>
      {{#if user.profile.facebook}}
      <p><i class="fa fa-facebook-square"></i> <b>Registered with fb:</b> <small>({{user.profile.facebook.id}})</small> {{user.profile.facebook.username}}</p>
      {{/if}}
    </div>
  </div>
</template>
