<template name="admin/content">
  <div class="container-fluid">
    {{>content_list}}
  </div>
</template>

<template name="content_list">
  <div class="panel panel-default">
    <div class="panel-heading">Content</div>
    <div class="panel-body">
      <a class="btn btn-default btn-xs" href="/admin/content/n/edit" title="new content"><span class="glyphicon glyphicon-plus"></span></a>
      <table class="table">
        <thead>
          <th class="col-sm-1"></th>
          <th class="col-sm-6">name</th>
          <th class="col-sm-2">page</th>
          <th class="col-sm-3 text-right">modified / created</th>
        </thead>
        <tbody>
          {{#each content}}
            {{>content_row}}
          {{else}}
            <tr><td colspan="4"><p class="text-center">{{i18n "There is no content"}}</p></td></tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</template>

<template name="content_row">
  <tr>
    <td>
      <a href="/admin/content/{{_id}}/edit" class="btn btn-default btn-xs btn-edit" title="edit"><span class="glyphicon glyphicon-pencil"></span></a>
      <button type="button" class="btn btn-default btn-xs btn-delete" title="delete" id="{{_id}}"><span class="glyphicon glyphicon-trash"></span></button>
    </td>
    <td>{{name.en}}<br/><small>[{{hook}}]</small></td>
    <td>{{page}}</td>
    <td class="small text-right">
      {{formatDate modifiedAt}}
      <br/>{{formatDate createdAt}}
    </td>
  </tr>
</template>

<template name="admin/content/edit">
  <div class="container-fluid">
    {{>content_edit}}
  </div>
</template>

<template name="content_edit">
  <div class="btn-toolbar top-toolbar" role="toolbar">
    <div class="btn-group">
      <a class="btn btn-default btn-sm" href=".." title="back to list"><span class="glyphicon glyphicon-arrow-left"></span></a>
    </div>
    <div class="btn-group pull-right">
      <a class="btn btn-default btn-sm" href=".." title="Cancel"><span class="glyphicon glyphicon-remove"></span></a>
      <button class="btn btn-default btn-sm btn-save"><span class="glyphicon glyphicon-floppy-save" title="Save"></span></button>
    </div>
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-default btn-sm btn-delete" title="delete" id="{{content._id}}"><span class="glyphicon glyphicon-trash"></span></button>
    </div>
  </div>
  <form role="form">
    <div class="row">
      <div class="col-md-9">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#en_content" data-toggle="tab">English</a></li>
          <li><a href="#pl_content" data-toggle="tab">Polish</a></li>
          <li><a href="#es_content" data-toggle="tab">Spanish</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="en_content">
            <div class="form-group">
              <label for="name_en">Name</label>
              <input type="text" class="form-control" id="name_en" placeholder="Enter name" value="{{content.name.en}}">
            </div>
            <div class="form-group">
              <textarea class="form-control" rows="3" id="content_en" style="height:400px">{{content.content.en}}</textarea>
            </div>
          </div>
          <div class="tab-pane" id="pl_content">
            <div class="form-group">
              <label for="name_pl">Name</label>
              <input type="text" class="form-control" id="name_pl" placeholder="Enter name" value="{{content.name.pl}}">
            </div>
            <div class="form-group">
              <textarea class="form-control" rows="3" id="content_pl" style="height:400px">{{content.content.pl}}</textarea>
            </div>
          </div>
          <div class="tab-pane" id="es_content">
            <div class="form-group">
              <label for="name_es">Name</label>
              <input type="text" class="form-control" id="name_es" placeholder="Enter name" value="{{content.name.es}}">
            </div>
            <div class="form-group">
              <textarea class="form-control" rows="3" id="content_es" style="height:400px">{{content.content.es}}</textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">General</div>
          <div class="panel-body">
            <div class="form-group">
              <label for="hook">Hook</label>
              <input type="text" class="form-control" id="hook" placeholder="Enter hook" value="{{content.hook}}">
            </div>
            <div class="form-group">
              <label for="page">Page</label>
              <input type="text" class="form-control" id="page" placeholder="Enter page" value="{{content.page}}">
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <p>
              <small>created</small>
              <br/><span>{{formatDate content.createdAt}}</span>
            </p>
            <p>
              <small>last modified</small>
              <br/><span>{{formatDate content.modifiedAt}}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="btn-toolbar top-toolbar" role="toolbar">
    <div class="btn-group">
      <a class="btn btn-default btn-sm" href=".." title="back to list"><span class="glyphicon glyphicon-arrow-left"></span></a>
    </div>
    <div class="btn-group pull-right">
      <a class="btn btn-default btn-sm" href=".." title="Cancel"><span class="glyphicon glyphicon-remove"></span></a>
      <button class="btn btn-default btn-sm btn-save"><span class="glyphicon glyphicon-floppy-save" title="Save"></span></button>
    </div>
  </div>
</template>
