<template name="admin_navbar">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <a class="navbar-brand kandewed" href="#">
      <img src="/images/logo_32x32.png">kandewed</a>
    {{#if currentUser}}
      {{> navbar_login}}
    {{else}}
      {{> navbar_logout}}
    {{/if}}
  </nav>
</template>

<template name="navbar_login">
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a class="dropdown-toogle" data-toggle="dropdown">{{username}}<b class="caret"></b></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="user-manu">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="/profile" id="profile">profile</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="logout">logout</a></li>
      </ul>
    </li>
    <li><img src="{{profile_img}}" /></li>
  </ul>
</template>

<template name="navbar_logout">
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign in<b class="caret"></b></a>
      <div class="dropdown-menu">
        {{>login_basic}}
      </div>
    </li>
  </ul>
</template>
