<template name="admin/guests">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-5 col-md-4 list">
        {{> guests_list}}
      </div>
      <div class="col-xs-7 col-md-8 info">
        {{> guests_wrapper}}
      </div>
    </div>
  </div>
</template>

<template name="guests_list">
  <div class="row">
    <div class="col-xs-9">
      <div class="input-group input-group-sm search">
        <input type="text" class="form-control" />
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </div>
    <div class="col-xs-3 text-right">
      <div class="btn-group btn-group-sm">
        <div class="btn-group btn-group-sm">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-sort-amount-desc"></i>
          </button>
          <ul class="dropdown-menu text-left pull-right" role="menu">
            <li><a href="#">Name</a></li>
            <li><a href="#">Date</a></li>
          </ul>
        </div>
        <button type="button" class="btn btn-default" id="new-guest">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p><small>&nbsp; <b>Result:</b> {{nGuests}} Guests</small></p>
    </div>
  </div>
  <ul class="guests">
    {{#each guests}}
      {{> guests_list_row}}
    {{/each}}
  </ul>
</template>

<template name="guests_list_row">
  <li class="guest {{isActiveGuest}}">
    <img src="{{profilePicture this}}">
    <div class="info">
      <a class="name">{{profile.name}}</a>
      <span class="icons pull-right">
        {{#if facebook this}}<i class="fa fa-facebook-square"></i>{{/if}}
        &nbsp;
        {{#if isUser}}<i class="fa fa-user"></i>{{/if}}
        &nbsp;
        {{#if newsletter}}<i class="fa fa-paper-plane"></i>{{/if}}
      </span>
      <div>
        <small>{{profile.email}}</small>
        <small class="pull-right">{{formatDate createdAt}}</small>
      </div>
    </div>
  </li>
</template>

<template name="guests_wrapper">
  {{#if guest}}
    {{> guests_info}}
  {{else}}
    {{#if newGuest}}
      {{> guests_new}}
    {{else}}
      {{> guests_blank}}
    {{/if}}
  {{/if}}
</template>

<template name="guests_blank">
  <div class="jumbotron">
    <h1>Your guests!</h1>
    <p>Here you can manage the guests for your wedding</p>
    <p>Please, select a guest from the list in the left side.</p>
  </div>
</template>

<template name="guests_new">
  <section class="guest-info">
    <header>
      <h3>create new user</h3>
    </header>
    <section class="guest-info-content">
      {{>guest_profile_edit}}
    </section>
  </section>
</template>

<template name="guests_info">
  <section class="guest-info">
    <header>
      <span class="icons pull-right">
        {{#if isUser}}<i class="fa fa-user"></i>{{/if}}
        &nbsp;
        {{#if facebook guest}}<i class="fa fa-facebook-square"></i>{{/if}}
        &nbsp;
        {{#if newsletter}}<i class="fa fa-paper-plane"></i>{{/if}}
      </span>
      <h3>{{guest.profile.name}} <small>[{{guest._id}}]</small></h3>
    </header>
    <section class="guest-info-content">
      {{#if editMode 'guests-profile-details'}}
        {{>guest_profile_edit}}
      {{else}}
        {{>guest_profile_details}}
      {{/if}}

      {{>guest_newsletter_details}}
    </section>
  </section>
</template>

<template name="guest_profile_details">
  <div class="panel panel-default profile-details">
    <div class="panel-heading">
      <span class="icons pull-right">
        <button class="btn-invisible" id="edit-mode"><i class="fa fa-pencil"></i></button>
      </span>
      <h3 class="panel-title">Profile details</h3>
    </div>
    <div class="panel-body">
      <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <p class="form-control-static">{{guest.profile.first_name}}</p>
        </div>
      </div>
      <div class="form-group">
        <label for="lastname" class="col-sm-2 control-label">Lastname</label>
        <div class="col-sm-10">
          <p class="form-control-static">{{guest.profile.last_name}}</p>
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <p class="form-control-static">{{guest.profile.email}}</p>
        </div>
      </div>
      <div class="form-group">
        <label for="gender" class="col-sm-2 control-label">Gender</label>
        <div class="col-sm-10">
          <p class="form-control-static">{{guest.profile.gender}}</p>
        </div>
      </div>
      <div class="form-group">
        <label for="locale" class="col-sm-2 control-label">Language</label>
        <div class="col-sm-10">
          <p class="form-control-static">{{language guest.profile.locale}}</p>
        </div>
      </div>
    </form>
    </div>
    <div class="panel-footer">
      <b>created:</b> {{formatDate guest.createdAt}} |
      <b>modified:</b> {{formatDate guest.modifiedAt}}
    </div>
  </div>
</template>

<template name="guest_profile_edit">
  <div class="panel panel-default profile-edit">
    <div class="panel-heading">
      <span class="icons pull-right">
        <button class="btn-invisible" id="save"><i class="fa fa-floppy-o"></i></button>
        <button class="btn-invisible" id="edit-mode"><i class="fa fa-times"></i></button>
      </span>
      <h3 class="panel-title">Profile details</h3>
    </div>
    <div class="panel-body">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="firstname" placeholder="Name" value="{{guest.profile.first_name}}" />
          </div>
        </div>
        <div class="form-group">
          <label for="lastname" class="col-sm-2 control-label">Lastname</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="lastname" placeholder="Lastname" value="{{guest.profile.last_name}}" />
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="email" placeholder="Email" value="{{guest.profile.email}}" />
          </div>
        </div>
        <div class="form-group">
          <label for="gender" class="col-sm-2 control-label">Gender</label>
          <div class="col-sm-10">
            <label class="form-control-static">
              <label><input type="radio" name="gender" id="gender_m" value="male" {{selectedGender 'male'}}> Male &nbsp;</label>
              <label><input type="radio" name="gender" id="gender_f" value="female" {{selectedGender 'female'}}> Female</label>
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="locale" class="col-sm-2 control-label">Language</label>
          <div class="col-sm-10">
            <select class="form-control" id="locale">
              <option value="none">select language</option>
              <option value="pl" {{selectedLang 'pl'}}>Polish</option>
              <option value="es" {{selectedLang 'es'}}>Spanish</option>
              <option value="en" {{selectedLang 'en'}}>English</option>
            </select>
          </div>
        </div>
      </form>
    </div>
    <div class="panel-footer">
      <span class="icons pull-right">
        <button class="btn-invisible" id="save">save &nbsp;<i class="fa fa-floppy-o"></i></button>
      </span>
      <b>created:</b> {{formatDate guest.createdAt}} |
      <b>modified:</b> {{formatDate guest.modifiedAt}}
    </div>
  </div>
</template>

<template name="guest_newsletter_details">
  <div class="panel panel-default newsletter-details">
    <div class="panel-heading">
      <h3 class="panel-title">Newsletter</h3>
    </div>
    <div class="panel-body">
      {{#if newsletter}}
        <p>This user have signed up to the newsletters. <small>[{{newsletter.email}}|{{newsletter.euid}}|{{newsletter.leid}}]</small></p>
        <ul>
          <li><b>email:</b> {{newsletter.email}}</li>
          <li><b>euid:</b> {{newsletter.euid}}</li>
          <li><b>leid:</b> {{newsletter.leid}}</li>
        </ul>
        {{#if mailchimpInfo}}
          <small>{{{mailchimpInfo}}}</small>
        {{else}}
          <button class="btn btn-default btn-xs" id="newsletter-data">see more &nbsp; <i class="fa fa-info"></i></button>
        {{/if}}
      {{else}}
        <p>This user haven't sign up to the newsletter
          <button class="btn btn-default btn-xs" id="newsletter-signup">sign up &nbsp; <i class="fa fa-check-square-o"></i></button>
        </p>
      {{/if}}
    </div>
  </div>
</template>
