<template name="background">
  <div class="bg-video"></div>
</template>
<template name="background_logout">
  <ul class="cb-slideshow">
    <li><span>Image 01</span><div><h3></h3></div></li>
    <li><span>Image 02</span><div><h3></h3></div></li>
    <li><span>Image 03</span><div><h3></h3></div></li>
    <li><span>Image 04</span><div><h3></h3></div></li>
    <li><span>Image 05</span><div><h3></h3></div></li>
    <li><span>Image 06</span><div><h3></h3></div></li>
  </ul>
</template>
