<template name="footer">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-xs-6"><span class="kandewed">kandewed</span></div>
        <div class="col-xs-6"><span class="pull-right">Kamila & Eloy</span></div>
      </div>
    </div>
  </footer>
</template>
