<template name="header">
  <header class="container">
    <div class="invitation">
      {{#unless currentUser}}
      <div class="pretext">{{i18n "What happens when the two most magical cities in the world meet?"}}</div>
      {{/unless}}
      <div class="dateline">
        <span>{{i18n "Saturday, 12 July 2014"}}</span>
      </div>
      <h1>kandewed</h1>
      <div class="wedline"><span>{{i18n "Kamila & Eloy"}}</span></div>
      <div class="text-center"><span class="glyphicon glyphicon-chevron-down"></span></div>
    </div>
  </header>
</template>
