<template name="layout">
  {{>yield region='background'}}
  <div class="wrapper pg-{{pageName}} ui-{{routeGroup}}">
    {{>yield region='navbar'}}
    {{>yield region='header'}}
    {{>yield}}
    {{>yield region='footer'}}
  </div>
</template>
