<template name="loading">
  <div class="loading">
    <div class="center">
      <h1>kandewed</h1>
      <img src="loading-spin-white.svg" width="64" height="64">
      <p>Loading...</p>
    </div>
  </div>
</template>
