<template name="navbar">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <ul class="nav navbar-nav navbar-user">
      <li><a class="btn-logout"><span class="glyphicon glyphicon-log-out"></span></a></li>
      <li><span class="navbar-text white hidden-xs">{{username}}</span></li>
    </ul>
    <ul class="nav navbar-nav navbar-lang">
        <li class="dropdown">
          <a data-toggle="dropdown" href="#">{{language}}</a>
          <ul class="dropdown-menu" role="lang" aria-labelledby="dLabel">
            {{#each languages}}
              <li><a class="btn-lang" lang="{{lang}}">{{lang}}</a></li>
            {{/each}}
          </ul>
        </li>
    </ul>
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">Menu</button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main-menu">
      <ul class="nav navbar-nav navbar-center">
        <li class="active"><a href="#the-wedding"><span class="glyphicon glyphicon-heart"></span> {{i18n "Wedding"}}</a></li>
        <li><a href="#krakow"><span class="glyphicon glyphicon-plane"></span>{{i18n "Krakow"}}</a></li>
        <li><a href="#sandomierz"><span class="glyphicon glyphicon-map-marker"></span>{{i18n "Sandomierz"}}</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>
</template>
